<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link rel='stylesheet' href='/Content/style3.css' />
<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
    />
  </head>
<body>
<div class = "header2">
    <h1>About Me</h1>
</div>

<div class = "information">
<p>My name is Ryan Sarwar. <br>
   I am a student at Ontario Tech University studying Business Management. <br> 
   My hobbies include art, movies, travelling, hanging out with friends etc. <br>
   This website was built from scratch by me using HTML and CSS. <br>
   Enjoy browsing!
</p>
</div>

<div class="videostuff"> 
    </div> 
    <video width="500" height="500" controls autoplay muted loop> 
    <source src="Y2Mate.is - Hey Ya Bread - Low Quality-aDkQCwgSiBg-1080p-1655038132475.mp4" type="video/mp4"> 
    </video> 
<div class="caption"> 
  <h2 style="text-align:center">Ryan Sarwar</h2>
</div>
<div class="image1">
    <img src="cs7.png" alt="Drawing of Myself">
</div>
</body>

<footer>
    <p>Ⓒ Ryan Sarwar 2022 Webscript Programming</p>
  </footer>
