<!DOCTYPE HTML> 
<html> 
<head>
<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet"> 
<meta charset="UTF-8"> 
<title>Contact Me</title> 
<link rel='stylesheet' href='/Content/style2.css' />
</head> 
<body> 
<div class="header"> 
<h1>CONTACT ME</h1> 
<form action=mailto:ryanbusinessmail1@gmail.com ?subject=Signup Form method="post" enctype="text/plain" name="form"> 
    <div>
    <input id="textboxid" type="text" name="Name"  placeholder="Enter Your Name" required> <br><br>
    </div>
    <div> 
    <input id="textboxid" type="phone" name="Phone" maxlength="10" placeholder="Enter Your Phone Number" required> <br><br>
    </div>
    <input id="textboxid" type="text" name="Email" placeholder="Enter Your Email" required> <br><br>
    <div>
    <textarea name="Message" cols="55" rows="4" placeholder="Send a Message" required></textarea> <br><br>
    </div>   
    <div>
        <input id="textboxid2" type="submit" value="Click Here to Submit the Form"/> <br><br>
    </div>
    <div>
        <input id="textboxid2" type="reset" value="Click Here to Reset the Form"/>
    </div>
</form>
</div> 
</body> 
</html> 

<footer>
    <p>Ⓒ Ryan Sarwar 2022 Webscript Programming</p>
  </footer>