<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="style4.css" />
<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
    />
  </head>
<body>
<div class = "header3">
    <h1>Projects</h1>
</div>

<div class = "information2">
<p>I have worked on many art projects in the past.<br>
   My main focus is digital art and most of what I draw is fan art <br> 
   Below you will see examples of my work. <br>
   Enjoy browsing!
</p>
</div>

<div class="row">
    <div class="column">
      <img src="hl2.png" style="width:100%">
    </div>
    <div class="column">
      <img src="avgn.png" style="width:100%">
    </div>
    <div class="column">
      <img src="coldones2.png" style="width:100%">
    </div>
  </div>

  <footer>
    <p>Ⓒ Ryan Sarwar 2022 Webscript Programming</p>
  </footer>

